.container{  
  min-width: 768px; 
  max-width: 1440px;
  height: 100vh;
  background-image: url("../images/bg-desktop.svg");
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.header{  
  height: 15rem; 
  padding-top: 1rem; 
}
.header__logo{
  width: 22rem;
  padding-left: 4rem;
}

.main{  
  text-align: left;
  display: flex;
  flex-flow: row nowrap;  
  justify-content: stretch;
  align-items: center;
  flex-grow: 1;
}
.main__img{
  min-width: 55%;
  max-width: none;
  padding-left: 5rem;
  padding-right: 2rem;
}

.main__content{  
  padding-top: 0;
  padding-bottom: 0;
}

.content__title{
  font-size: 3rem;
  padding-bottom: 1.5rem;  
}
.content{    
  padding: 0 2rem 3rem 0;  
}
.content__btn{  
  width: 20rem;
}

.footer{  
  justify-content: flex-end;
  padding-right: 7rem;
  padding-top: 3rem;  
}